/*Love Labs, Love Food - style.css    */
/*Author: Chris Williams              */


@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.navbar-nav {
    clear:both;
    float:right;
    position:relative;
    border:4px solid rgba(13, 14, 13, 0.8);  /**added border to see why its not positioning correctly **/
}


.navbar-brand h1 {
font-family:'Lobster', cursive, Times, serif;
font-size:3.5rem;
padding:5%;
}

.navbar-nav li {
    font-family:'Lobster', cursive, Times, serif;
    font-size:1.5rem;
   }

.bg-dark {
    --bs-bg-opacity: 1;
    background-color: rgba(44, 143, 5, 0.8)!important;
}

#hero-image-holder {  /**from code institute love running project **/
    width: 320px;
    height: 320px;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-cover-bg {    /**from code institute love running project **/
    background: url("/assets/images/labradorcropped.jpg") no-repeat center center;
    height: 100%;
    border-radius: 50%;
    max-height:100%; 
    max-width:100%;
    background-size: contain;

}

.btn-primary{
    color: #fff;
    background-color: rgba(44, 143, 5, 0.8);
    border-color: rgba(44, 143, 5, 0.8);
    text-decoration: none;
}
.btn-primary a{
    color: #fff;
    text-decoration: none;
}
.btn-primary:hover{
    color: #fff;
    background-color: rgba(13, 14, 13, 0.8);
    border-color: rgba(13, 14, 13, 0.8);
}

.btn-outline-secondary a {
    color: rgba(13, 14, 13, 0.8);
    text-decoration: none;
}
.btn-outline-secondary:hover  {
    color: rgba(251, 253, 251, 0.8);
    background-color: rgba(13, 14, 13, 0.8);
    border-color: rgba(13, 14, 13, 0.8);

}

#dog-friendly-venues {
    width: 100%;
    overflow: hidden;
    background-image: url('../images/lily-banse--YHSwy6uqvk-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding-left:5%;
    
}
/**#overlay {
    background-color: rgba(26, 25, 25, 0.8);    
    width:auto;
    
}**/
#dog-friendly-venues div {     /***this needs work to make it responsive ***/
    width: 30%;
    height:100%;
    margin-top:2rem; 
    margin-right:2rem;
    margin-bottom:1rem;
    overflow: hidden;
    float: left;
    /*padding: 30px 0 0 10px;*/
    padding:2%;
    text-align: center;
    border: 0.2rem solid rgba(248, 247, 247, 0.1);
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
    /*box-sizing: border-box;*/
    background-color: rgba(26, 25, 25, 0.8);
    position:relative;
}
#dog-friendly-venues div p,h2,h3 {
    color:aliceblue
}
